body{
    background-color: brown;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

main {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
} 

aside{
  flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    flex-wrap: wrap;

}
.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #13293d;
    color: #fff;
  }




  .card {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

  .card header {
    padding: 20px;
    background: #13293d;
    color: #fff;
  }
  
  .image1{
    max-width: 50%;
  }

  .card.Surf {
    flex: 1;
  }

  .Contact-Me {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  .Contact-Me li {
    flex: 1;
  }
    
  @media screen and (max-width: 992px) {
    header, main {
      flex-direction:column}
    }

    @media screen and (max-width: 768px) {
      header, main {
        flex-direction:column;
        background:white}
      }
    
      @media screen and (max-width: 576px) {
        header, main {
          flex-direction:column;
          background: yellow;}
        }